<h1><p>Introducció de factura</p></h1>
<form [formGroup]="billForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
   <label>
      Nº de factura:
    </label>
    <input type = text class="form-control" formControlName="billNumber">
  </div>
  <div class="form-group">
    <label>
      Edició Pallars de Foc:
      <input type = text formControlName="edition">
    </label>
  </div>
  <p>
    <label>
      Data de la factura:
      <input type = date formControlName="date">
    </label>
  </p>
  <p>
    <label>
      Emisor de la factura:
      <input type = text formControlName="from">
    </label>
  </p>
  <p>
    <label>
      Factura adreçada a:
      <input type = text formControlName="toorg">
    </label>
  </p>
  <p>
    <label>
      Concepte de la factura:
      <input type = text formControlName="concept">
    </label>
  </p>
  <p>
    <label>
      Total factura SENSE impostos (sense IVA):
      <input type = number formControlName="totalBT"> €
    </label>
  </p>
  <p>
    <label>
      Total impostos (IVA):
      <input type = number formControlName="taxes"> €
    </label>
  </p>
  <p>
    <label>
      Marca la següent casella si la factura ha estat emesa per lo Peirot:
      <input type = checkbox formControlName="income">
    </label>
  </p>
  <p>
    <label>
      Commentaris:
    </label>
  </p>
  <p>
    <input type = text formControlName="comments">
  </p>
  <p>
    <button type = submit [disabled]="!billForm.valid"> Entrar factura </button>
  </p>
</form>
<p>
  Form Status: {{ billForm.status }}
