<!--<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <p>Aquesta web està destinada única i exlusivament a la gestió del Pallars de Foc.</p>
      <p>El desenvolupament d'aquesta aplicació web s'atribueix íntegrament a la Colla de Diables Lo Peirot de Tremp, així com la seva propietat.</p>
    </div>
  </div>
</div>-->

<!--
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<body class="base">-->
<!-- main app container -->
<!--<div class="container">
  <router-outlet></router-outlet>
</div>
</body>-->
<h1><p> Inici </p></h1>
<div> Aquesta aplcació web ha estat desenvolupada per la Colla de Diables Lo Peirot de Tremp.</div>
<div> L'obgectiu d'aquesta aplicació és facilitar la gestió documental del Pallars de Foc.</div>
<p> </p>
<div><p> Qualsevol petició per modificar, millorar o canviar qualsevol aspecte d'aquesta aplicació envieu un mail a l'adreça de correu electrònic rogercapcas@gmail.com, amb la informació següent:</p>
  <ul> - Quina és la petició</ul>
  <ul> - Motiu de la petició</ul>
  <ul> - Grau de necessitat (0 = no passa res si no es realitza, 10 = és imprescindible per la gestió del Palalrs de Foc)</ul>
  <ul> - Si fa falta i/o pot ajudar, adjuntar una captura de pantalla que ajudi a entendre la petició</ul>
</div>
