<h1><p>Edició del pressupost</p></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <table class="table striped-table">
        <thead class="greenhead">
          <tr>
            <th>Ingressos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><h3>Fons Públics</h3></th>
          </tr>
          <tr>
            <div class="form-group">
              <label>
                <span>Subvencions</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
            <div class="form-group">
              <label>
                <span>Factures</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
            <div class="form-group">
              <label>
                <span>Altres</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
          </tr>
          <tr>
            <th><h3>Aportacions privades</h3></th>
          </tr>
          <tr>
            <div class="form-group">
              <label>
                <span>Aportacions de capital (p.e.: patrocinadors)</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
            <div class="form-group">
              <label>
                <span>Espècies</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
            <div class="form-group">
              <label>
                <span>Altres</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
          </tr>
          <tr>
            <th><h3>Venda</h3></th>
          </tr>
          <tr>
            <div class="form-group">
              <label>
                <span>Servei de barra</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
            <div class="form-group">
              <label>
                <span>Merchandising</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
            <div class="form-group">
              <label>
                <span>Entrades/Quotes</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
            <div class="form-group">
              <label>
                <span>Altres</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
          </tr>
          <tr>
            <th><h3>Fons propis</h3></th>
          </tr>
          <tr>
            <div class="form-group">
              <label>
                <span>Aportació de fons propis</span>
              </label>
              <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
            </div>
          </tr>
        </tbody>
    </table>
    </div>
    <div class="col-6">
      <table class="table striped-table">
        <thead class="redhead">
          <tr>
            <th>Despeses</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th><h3>Difusió</h3></th>
        </tr>
        <tr>
          <div class="form-group">
            <label>
              <span>Cartelleria</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Disseny/Edició</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Mitjans de comunicació digitals</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Mitjans de comunicació tradicionas</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Merchandising</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Obsequis/records/premis</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
        </tr>
        <tr>
          <th><h3>Compensasions</h3></th>
        </tr>
        <tr>
          <div class="form-group">
            <label>
              <span>Per prestació de servei aliè</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Materia primera</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Dietes</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Transport/Desplaçament</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Altres</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
        <tr>
          <th><h3>Lloguers</h3></th>
        </tr>
        <tr>
          <div class="form-group">
            <label>
              <span>Infraestructura</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Mobiliari</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Altres</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
        <tr>
          <th><h3>Contractacions</h3></th>
        </tr>
        <tr>
          <div class="form-group">
            <label>
              <span>Artistes</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Serveis</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Equips de so/llum</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Altres</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
        <tr>
          <th><h3>Servei de barra</h3></th>
        </tr>
        <tr>
          <div class="form-group">
            <label>
              <span>Consumibles (beure, menjar, gel, ...)</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Gots</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Equipament</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Tickets</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Altres</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
        <tr>
          <th><h3>Activitats pròpies</h3></th>
        </tr>
        <tr>
          <div class="form-group">
            <label>
              <span>Pirotècnia</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Assegurança</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Infraestructura</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Materiar fungible</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Altres</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
        <tr>
          <th><h3>Altres despeses</h3></th>
        </tr>
        <tr>
          <div class="form-group">
            <label>
              <span>Material fungible</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Acreditacions</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Assegurances</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Publicitat patrocinadors</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
          <div class="form-group">
            <label>
              <span>Altres</span>
            </label>
            <span class="rightalign"><input type="number" [defaultValue]="0">  €</span>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
<button> Crear pressupost</button>
<div><p>* Un cop el pressupost s'ha crat es podrà editar posteriorment.</p></div>

<!-- https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_table_striped&stacked=h
      https://bootsnipp.com/snippets/ObMj8    PER FER UNA TAULA DINÀMICA-->
