<h1><p>Edició del pressupost</p></h1>
<div>
  <table class="table striped-table">
    <thead class="thead-dark">
    <tr>
      <th>Ingressos</th>
      <th>Despeses</th>
    </tr>
    </thead>
    <tbody>
    <h3>1. Fons públics</h3>
    <div class="row">
      <div class="form-group form-group-multiple-selects col-xs-11 col-sm-8 col-md-4">
        <div class="input-group input-group-multiple-select col-xs-12">
          <select class="form-control" name="values[]">
            <option value="">Select one</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
          </select>
          <span class="input-group-addon input-group-addon-remove">
    				<span class="glyphicon glyphicon-remove"></span>
    			</span>
        </div>
      </div>
    </div>
    </tbody>
  </table>
</div>
<!-- https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_table_striped&stacked=h
      https://bootsnipp.com/snippets/ObMj8    PER FER UNA TAULA DINÀMICA-->
