<h1><p>Factures</p></h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <table class="table table-striped">
          <thead class="greenhead">
          <tr>
            <th>Factures emeses</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bill of bills"
                [class.selected]="bill === selectedBill"
                (click)="onSelect(bill)">
               <span *ngIf="bill.from.NIF == '111111111' && bill.paid==true"> {{bill.to.name}} </span>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <table class="table table-striped">
          <thead class="redhead">
          <tr>
            <th>Factures rebudes</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bill of bills"
              [class.selected]="bill === selectedBill"
              (click)="onSelect(bill)">
            <span *ngIf="bill.from.NIF != '111111111'"> {{bill.from.name}} </span>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
