<h1><p> Creació d'un nou pressupost </p></h1>
<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Nom del pressupost:
    </label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label>
      Edició Pallars de Foc (any):
    </label>
    <input type="number" formControlName="edition" required="required">
  </div>
  <div class="form-group">
    <label>
      Comentaris:
    </label>
    <input type="text" formControlName="comments">
  </div>
  <p>
    <button type="submit" [disabled]="!budgetForm.valid"> Crear pressupost</button>
  </p>
</form>

<p> Form status: {{budgetForm.status}}</p>
