<div class = "side">
  <h2>Menú</h2>

  <div>
    <button class= redButton>Pressupostos</button>
  </div>
  <div>
    <button class= redButton>Consultar Factures</button>
  </div>
  <div>
    <button class= redButton>Altres ingressos/despeses</button>
  </div>
  <div>
    <button class= redButton (click)="goTo('/organizations')">Colles convidades</button>
  </div>
  <div>
    <button class= redButton>Contactes</button>
  </div>
  <div>
    <button class= redButton>Resum</button>
  </div>
  <div>
    <button type="button" class="btn-outline-primary" (click)="goTo('/index')">Escollir una altra edició</button>
  </div>
  <div>
    <button class="btn btn-dark" > Desconnecta't </button>
  </div>
</div>
