<body>
  <h2>Menú</h2>

  <div>
    <button class= redButton>Pressupostos</button>
  </div>
  <div>
    <button class= redButton>Factures</button>
  </div>
  <div>
    <button class= redButton>Altres ingressos/despeses</button>
  </div>
  <div>
    <button class= redButton (click)="goTo('/organizations')">Colles convidades</button>
  </div>
  <div>
    <button class= redButton>Contactes</button>
  </div>
  <div>
    <button class= redButton>Resum</button>
  </div>
  <div>
    <button class="redButton" (click)="goTo('/index')">Índex d'edicions</button>
  </div>
  <div>
    <button> Desconnecta't </button>
  </div>
</body>
