body {
  width: 12em;
  background: #f24537 linear-gradient(to bottom, #f24537 5%, black 100%);
  margin: 0em 0em;
  border-radius: 1em;
}

.sidebar {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 50em;
}

.sidebar li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.sidebar li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.sidebar li.selected {
  background-color: #CFD8DC;
  color: white;
}
.sidebar li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.sidebar .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

h1 {
  font-size: 100%;
  font-family: "Helvetica Neue", fantasy;
  font-weight: bold;
  color: #EEEEEE;

}

h2{
  font-size: large;
  font-family: fantasy;
  font-weight: bold;
  color: white;
  font-style: oblique;
  margin-left: 1em;
}

.redButton {
  box-shadow: 0 10px 14px -7px #f5978e;
  background: #f24537 linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  border-radius:4px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-shadow:0 1px 0 #810e05;
}
.redButton:hover {
  background: #c62d1f linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
}
.redButton:active {
  position:relative;
  top:1px;
}
