/* You can add global styles to this file, and also import other style files */

h1{
  background: cornflowerblue;
  color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2{
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 170%;
  font-weight: bold;
}

h3{
  color: #333;
  font-family: Arial;
  font-size: 110%;
  font-weight: bold;
}

body{
  margin: 5em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}

/*everywhere else*/
{
  font-family: Helvetica;
}
button {
  border: #000000;
  border: 0.3em;
  border-radius: 1em;
  border-style: groove;
  font-weight: bold;
  background: #EEEEEE;
}

button:hover {
  color: #EEEEEE;
  border: #5b5b5b;
  border: 0.3em;
  border-radius: 1em;
  border-style: groove;
  font-weight: bold;
  background-color: #d02718;
  left: .1em;
}
button:active {
  color: #d02718;
  font-weight: bold;
  background-color: #EEEEEE;
  left: .1em;
}
