/* You can add global styles to this file, and also import other style files */

h1{
  background: cornflowerblue;
  color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2{
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 170%;
  font-weight: bold;
}

h3{
  color: #333;
  font-family: Arial, serif;
  font-size: 110%;
  font-weight: bold;
}

h6{
  font-size: large;
  font-family: fantasy;
  font-weight: bolder;
  color: #810e05;
  font-style: oblique;
}
body{
  bgcolor: "#E6E6FA";
  margin: 0em 0em;
}

input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

/*everywhere else
{
  font-family: Helvetica,serif;
}*/
button {
  border-color: #000000;
  border: 0.3em;
  border-radius: 1em;
  border-style: groove;
  font-weight: bold;
  background: #EEEEEE;
  text-align: center;
}

button:hover {
  color: #EEEEEE;
  border: #5b5b5b;
  border: 0.3em;
  border-radius: 1em;
  border-style: groove;
  font-weight: bold;
  background-color: cornflowerblue;
}
button:active {
  color: cornflowerblue;
  font-weight: bold;
  background-color: #EEEEEE;
  left: .1em;
}
 /*{
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}*/
li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
li.selected {
  background-color: #CFD8DC;
  color: white;
}
li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.redButton {
  box-shadow: 0px 10px 14px -7px #f5978e;
  background: #f24537 linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  border-radius:4px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Cursive, serif;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0 1px 0 #810e05;
}
.redButton:hover {
  background: #c62d1f linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
}
.redButton:active {
  position:relative;
  top:1px;
}
