<h1> <p> Creació d'una nova edició</p></h1>
<form [formGroup]="editionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Any de l'edició:
    </label>
    <input type = text class="form-control" formControlName="year">
  </div>
  <div class="form-group">
    <label>
      Nom de l'edició:
    </label>
    <input type = text class = "form-control" formControlName="name">
  </div>
  <button [disabled]="!editionForm.valid" (click)="onSubmit()"> Crear edició </button>
</form>
